In [1]:
import pandas as pd

In [2]:
def class_movie(row):
    rank = float(row['rating'])
    rating = ''
    if rank >= 4.5:
        rating = 'высокий рейтинг'
    elif rank > 2:
        rating = 'средний рейтинг'
    else:
        rating = 'низкий рейтинг'
    return rating

In [9]:
ratings = pd.read_csv('ratings.csv')
ratings['class'] = ratings.apply(class_movie, axis=1)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [10]:
def class_region(row):
    search_query = row['keyword']
    region = 'undefined'
    geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    for key in geo_data:
        for item in geo_data[key]:
            if item in search_query:
                region = key
    return region

In [15]:
keywords = pd.read_csv('keywords.csv')
keywords['region'] = keywords.apply(class_region, axis=1)
filtered_data = keywords[keywords['region'] != 'undefined']
filtered_data.head(5)

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

In [39]:
def production_year(row):
    movie_title = row['title']
    movie_year = '1900'
    years = range(1950, 2011)
    for item in years:
        if str(item) in movie_title:
            movie_year = str(item)
    return movie_year

In [41]:
movies = pd.read_csv('movies.csv')
joined_data = ratings.join(movies, how='inner', on='movieId', lsuffix='_left', rsuffix='_right')
joined_data['year'] = joined_data.apply(production_year, axis = 1)
group_data = joined_data.groupby('year')
group_data.mean()[['rating']].sort_values('rating', ascending=False).head()

        rating
year
1974  3.889525
1997  3.858333
1972  3.720844
1996  3.718974
1990  3.672062